
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #020617;
}
section {
  padding: 4rem 8%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #38bdf8;
}

p, li {
  color: #cbd5f5;
  font-size: 1.05rem;
  line-height: 1.6;
}

ul {
  padding-left: 1.2rem;
}
html {
  scroll-behavior: smooth;
}
